In [31]:
#This cell will attempt to read the directory file using pandas - I like the output! 
import pandas
import re
import phonenumbers

df = pandas.read_csv('InstantChurchDirectory-20210218-042000.csv')
# Set missing values to empty strings
df['Child_Names'] = df['Child_Names'].fillna('')
df['Address'] = df['Address'].fillna('')  
df['City'] = df['City'].fillna('')
df['State'] = df['State'].fillna('')
df['Phone_Numbers'] = df['Phone_Numbers'].fillna('')
df['Emails'] = df['Emails'].fillna('')
df['Additional_Details'] = df['Additional_Details'].fillna('')
df['Notes'] = df['Notes'].fillna('')

# Print a sample
df.head(5)

,Last_Name,First_Name,Child_Names,Address,City,State,ZIP,Phone_Numbers,Emails,AnniversaryDate,Additional_Details,Notes,FamilyId,Active,ImageExists,DateModified
0,Adams,Garth and Cheryl,"Andrew, Jackson, Luke",14096 South Shore Drive,Clive,IA,50325.0,"515-205-9830 (Garth), 515-205-3076 (Cheryl), (...","garth.d.adams@gmail.com (Garth), CherylAdams@m...","Jul 25, 1987",,,f6ef3d58-f1ef-49d8-a345-2d7235b05f16,True,False,2021-02-16 22:14:11
1,Anderson,Caleb and Katy,"Aili, Hazel, Ettalyn",2002 NW School Street,Ankeny,IA,50023.0,"515-230-2171 (Caleb), 615-310-7347 (Katy)","CalebAnderson@gmail.com (Caleb), KateSLAnderso...","Dec 15, 2007",,,adaa6caf-e976-4aa4-9888-9e9487116b98,True,False,2021-02-12 22:10:25
2,Anderson,Ethan and Kaci,"Emma, Noah, Grant, Elliott",706 NE 55th Street,Ankeny,IA,50021.0,"515-460-6918 (Ethan), 515-460-0918 (Kaci), 515...","EthanA28@gmail.com (Ethan), KnicholeAnders@gma...","Dec 22, 2001",,,4508a2ee-47d6-491a-b7de-fd8d34a6485c,True,False,2021-02-13 21:08:32
3,Anderson,Merlin and Jenny,,3009 SW Townpark Drive,Ankeny,IA,50023.0,"515-289-9333, 515-689-4635 (Merlin), 515-231-8...",MaranathaMrsA@gmail.com (Jenny),"May 26, 1977",,,192316ea-881a-42bd-a003-8402aef00597,True,False,2021-02-13 22:07:45
4,Arentson,James and Alicia,Amia,1714 W Fifth Street,Perry,IA,50220.0,"515-709-9398 (James), 515-478-0176 (Alicia)","jr4god@gmail.com (James), TheDancer2000@hotmai...","Jul 20, 2019",,,2231cc88-9590-436e-ad8b-7f0b79ca7072,True,False,2021-02-10 20:26:13

In [32]:
#Good Code: This cell will attempt to create a new dataframe with rows for each person

phone_cf = df.copy(deep=True)

# Keep only the columns needed to create the contacts (FamilyId will be the key)
phone_cf.drop(columns=['Emails', 'Last_Name', 'First_Name', 'Child_Names'], inplace=True)
phone_cf.drop(columns=['Address', 'City', 'State','ZIP'], inplace=True)
phone_cf.drop(columns=['AnniversaryDate', 'Additional_Details'], inplace=True)
phone_cf.drop(columns=['Notes', 'Active', 'ImageExists', 'DateModified'], inplace=True)
phone_cf.head(10)

,Phone_Numbers,FamilyId
0,"515-205-9830 (Garth), 515-205-3076 (Cheryl), (...",f6ef3d58-f1ef-49d8-a345-2d7235b05f16
1,"515-230-2171 (Caleb), 615-310-7347 (Katy)",adaa6caf-e976-4aa4-9888-9e9487116b98
2,"515-460-6918 (Ethan), 515-460-0918 (Kaci), 515...",4508a2ee-47d6-491a-b7de-fd8d34a6485c
3,"515-289-9333, 515-689-4635 (Merlin), 515-231-8...",192316ea-881a-42bd-a003-8402aef00597
4,"515-709-9398 (James), 515-478-0176 (Alicia)",2231cc88-9590-436e-ad8b-7f0b79ca7072
5,712-830-5972 (Katherine),509d11d6-61ee-4989-81ea-5ba463f70454
6,515-975-9510 (DJ),8da301e8-ccbe-4830-a886-ab1da0217399
7,"515-229-9510 (Eric), 515-975-8174 (Georgia), 5...",00d10eea-7707-4224-8dfb-ad0d51fc88c7
8,"515-478-4288 (Jeremy), 720-514-1021 (Bre)",eead9d51-8343-4e16-beb3-a58da7ec1b6a
9,"515-276-2223 (Home), 515-710-3118 (Leila)",2d9eb3c7-7f52-4637-b83c-0126864424f1

In [33]:
#Good Code: This cell will attempt to create a new dataframe with rows for each person

email_cf = df.copy(deep=True)

# Keep only the columns needed to create the contacts (FamilyId will be the key)
email_cf.drop(columns=['Phone_Numbers', 'Last_Name', 'First_Name', 'Child_Names'], inplace=True)
email_cf.drop(columns=['Address', 'City', 'State','ZIP'], inplace=True)
email_cf.drop(columns=['AnniversaryDate', 'Additional_Details'], inplace=True)
email_cf.drop(columns=['Notes', 'Active', 'ImageExists', 'DateModified'], inplace=True)
email_cf.head(10)

,Emails,FamilyId
0,"garth.d.adams@gmail.com (Garth), CherylAdams@m...",f6ef3d58-f1ef-49d8-a345-2d7235b05f16
1,"CalebAnderson@gmail.com (Caleb), KateSLAnderso...",adaa6caf-e976-4aa4-9888-9e9487116b98
2,"EthanA28@gmail.com (Ethan), KnicholeAnders@gma...",4508a2ee-47d6-491a-b7de-fd8d34a6485c
3,MaranathaMrsA@gmail.com (Jenny),192316ea-881a-42bd-a003-8402aef00597
4,"jr4god@gmail.com (James), TheDancer2000@hotmai...",2231cc88-9590-436e-ad8b-7f0b79ca7072
5,KatherineGabrielle@gmail.com (Katherine),509d11d6-61ee-4989-81ea-5ba463f70454
6,StarWarsFan7@gmail.com (DJ),8da301e8-ccbe-4830-a886-ab1da0217399
7,"GoodNewsAndCanoes@gmail.com (Eric), deovolente...",00d10eea-7707-4224-8dfb-ad0d51fc88c7
8,"JeremyBarker123@hotmail.com (Jeremy), BreBarke...",eead9d51-8343-4e16-beb3-a58da7ec1b6a
9,,2d9eb3c7-7f52-4637-b83c-0126864424f1

In [34]:
# Good Code:  This cell will attempt to create multiple rows for each phone
phone_cf['Phone_Numbers'] = phone_cf['Phone_Numbers'].str.split(',')
phone_cf =  phone_cf.explode('Phone_Numbers').reset_index(drop=True)
cols = list(phone_cf.columns)
cols.append(cols.pop(cols.index('FamilyId')))
phone_cf = phone_cf[cols]
phone_cf.head(10)

               Phone_Numbers                              FamilyId
0       515-205-9830 (Garth)  f6ef3d58-f1ef-49d8-a345-2d7235b05f16
1      515-205-3076 (Cheryl)  f6ef3d58-f1ef-49d8-a345-2d7235b05f16
2    (515) 480-8322 (Andrew)  f6ef3d58-f1ef-49d8-a345-2d7235b05f16
3   (515) 822-3151 (Jackson)  f6ef3d58-f1ef-49d8-a345-2d7235b05f16
4      (515) 639-6517 (Luke)  f6ef3d58-f1ef-49d8-a345-2d7235b05f16
5       515-230-2171 (Caleb)  adaa6caf-e976-4aa4-9888-9e9487116b98
6        615-310-7347 (Katy)  adaa6caf-e976-4aa4-9888-9e9487116b98
7       515-460-6918 (Ethan)  4508a2ee-47d6-491a-b7de-fd8d34a6485c
8        515-460-0918 (Kaci)  4508a2ee-47d6-491a-b7de-fd8d34a6485c
9        515-322-1234 (Emma)  4508a2ee-47d6-491a-b7de-fd8d34a6485c

In [35]:
# Good Code:  This cell will attempt to create multiple rows for each email
email_cf['Emails'] = email_cf['Emails'].str.split(',')
email_cf =  email_cf.explode('Emails').reset_index(drop=True)
cols = list(email_cf.columns)
cols.append(cols.pop(cols.index('FamilyId')))
email_cf = email_cf[cols]
email_cf.head(10)

                                  Emails                              FamilyId
0        garth.d.adams@gmail.com (Garth)  f6ef3d58-f1ef-49d8-a345-2d7235b05f16
1         CherylAdams@mchsi.com (Cheryl)  f6ef3d58-f1ef-49d8-a345-2d7235b05f16
2           adadams@iastate.edu (Andrew)  f6ef3d58-f1ef-49d8-a345-2d7235b05f16
3   jackson.ed.adams@gmail.com (Jackson)  f6ef3d58-f1ef-49d8-a345-2d7235b05f16
4          gobaseball80@gmail.com (Luke)  f6ef3d58-f1ef-49d8-a345-2d7235b05f16
5        CalebAnderson@gmail.com (Caleb)  adaa6caf-e976-4aa4-9888-9e9487116b98
6        KateSLAnderson@gmail.com (Katy)  adaa6caf-e976-4aa4-9888-9e9487116b98
7             EthanA28@gmail.com (Ethan)  4508a2ee-47d6-491a-b7de-fd8d34a6485c
8        KnicholeAnders@gmail.com (Kaci)  4508a2ee-47d6-491a-b7de-fd8d34a6485c
9         emmaanders514@gmail.com (Emma)  4508a2ee-47d6-491a-b7de-fd8d34a6485c

In [36]:
# Good Code: Combining a function with phone number cleanup
# Note:  Need to add code to return a blank string if no phone number present
def find_phone_number(row):
    phone_row = ''.join(map(str, row))
    for match in phonenumbers.PhoneNumberMatcher(phone_row, "US"):
        return str(phonenumbers.format_number(match.number,                              phonenumbers.PhoneNumberFormat.NATIONAL))
phone_cf['PhoneG']=phone_cf['Phone_Numbers'].apply(lambda x: find_phone_number(x))
phone_cf.head(10)

,Phone_Numbers,FamilyId,PhoneG
0,515-205-9830 (Garth),f6ef3d58-f1ef-49d8-a345-2d7235b05f16,(515) 205-9830
1,515-205-3076 (Cheryl),f6ef3d58-f1ef-49d8-a345-2d7235b05f16,(515) 205-3076
2,(515) 480-8322 (Andrew),f6ef3d58-f1ef-49d8-a345-2d7235b05f16,(515) 480-8322
3,(515) 822-3151 (Jackson),f6ef3d58-f1ef-49d8-a345-2d7235b05f16,(515) 822-3151
4,(515) 639-6517 (Luke),f6ef3d58-f1ef-49d8-a345-2d7235b05f16,(515) 639-6517
5,515-230-2171 (Caleb),adaa6caf-e976-4aa4-9888-9e9487116b98,(515) 230-2171
6,615-310-7347 (Katy),adaa6caf-e976-4aa4-9888-9e9487116b98,(615) 310-7347
7,515-460-6918 (Ethan),4508a2ee-47d6-491a-b7de-fd8d34a6485c,(515) 460-6918
8,515-460-0918 (Kaci),4508a2ee-47d6-491a-b7de-fd8d34a6485c,(515) 460-0918
9,515-322-1234 (Emma),4508a2ee-47d6-491a-b7de-fd8d34a6485c,(515) 322-1234

In [37]:
# Good Code: Combining a function with phone owner cleanup
def find_phone_owner(row):
    phone_row = ''.join(map(str, row))
    if phone_row.rfind(')'):
        owner = phone_row.rstrip("*")[phone_row.rfind('(')+1:-1]
    else:
        owner = ''
    return str(owner.strip())
phone_cf['Phone_Owner']=phone_cf['Phone_Numbers'].apply(lambda x: find_phone_owner(x))
phone_cf.drop(columns=['Phone_Numbers'], inplace=True)
phone_cf.head(10)

                               FamilyId          PhoneG Phone_Owner
0  f6ef3d58-f1ef-49d8-a345-2d7235b05f16  (515) 205-9830       Garth
1  f6ef3d58-f1ef-49d8-a345-2d7235b05f16  (515) 205-3076      Cheryl
2  f6ef3d58-f1ef-49d8-a345-2d7235b05f16  (515) 480-8322      Andrew
3  f6ef3d58-f1ef-49d8-a345-2d7235b05f16  (515) 822-3151     Jackson
4  f6ef3d58-f1ef-49d8-a345-2d7235b05f16  (515) 639-6517        Luke
5  adaa6caf-e976-4aa4-9888-9e9487116b98  (515) 230-2171       Caleb
6  adaa6caf-e976-4aa4-9888-9e9487116b98  (615) 310-7347        Katy
7  4508a2ee-47d6-491a-b7de-fd8d34a6485c  (515) 460-6918       Ethan
8  4508a2ee-47d6-491a-b7de-fd8d34a6485c  (515) 460-0918        Kaci
9  4508a2ee-47d6-491a-b7de-fd8d34a6485c  (515) 322-1234        Emma

In [38]:
# Good Code: Combining a function with email owner cleanup
def find_email_owner(row):
    email_row = ''.join(map(str, row))
    if email_row.rfind(')'):
        owner = email_row.rstrip("*")[email_row.rfind('(')+1:-1]
    else:
        owner = ''
    return str(owner.strip())
email_cf['Email_Owner']=email_cf['Emails'].apply(lambda x: find_email_owner(x))
email_cf.head(10)

,Emails,FamilyId,Email_Owner
0,garth.d.adams@gmail.com (Garth),f6ef3d58-f1ef-49d8-a345-2d7235b05f16,Garth
1,CherylAdams@mchsi.com (Cheryl),f6ef3d58-f1ef-49d8-a345-2d7235b05f16,Cheryl
2,adadams@iastate.edu (Andrew),f6ef3d58-f1ef-49d8-a345-2d7235b05f16,Andrew
3,jackson.ed.adams@gmail.com (Jackson),f6ef3d58-f1ef-49d8-a345-2d7235b05f16,Jackson
4,gobaseball80@gmail.com (Luke),f6ef3d58-f1ef-49d8-a345-2d7235b05f16,Luke
5,CalebAnderson@gmail.com (Caleb),adaa6caf-e976-4aa4-9888-9e9487116b98,Caleb
6,KateSLAnderson@gmail.com (Katy),adaa6caf-e976-4aa4-9888-9e9487116b98,Katy
7,EthanA28@gmail.com (Ethan),4508a2ee-47d6-491a-b7de-fd8d34a6485c,Ethan
8,KnicholeAnders@gmail.com (Kaci),4508a2ee-47d6-491a-b7de-fd8d34a6485c,Kaci
9,emmaanders514@gmail.com (Emma),4508a2ee-47d6-491a-b7de-fd8d34a6485c,Emma

In [39]:
# Good Code: Combining a function with email cleanup
# Note:  Need to add code to return a blank string if no email present
def find_email_address(row):
    email_row = ''.join(map(str, row))  # convert to a string
    email_row_str = email_row.strip()   # remove leading and trailing blanks
    email_address_list = email_row_str.split(" ") # split into a list
    return str(email_address_list[0])
email_cf['Email_Address']=email_cf['Emails'].apply(lambda x: find_email_address(x))
email_cf.drop(columns=['Emails'], inplace=True)
email_cf.head(10)

,FamilyId,Email_Owner,Email_Address
0,f6ef3d58-f1ef-49d8-a345-2d7235b05f16,Garth,garth.d.adams@gmail.com
1,f6ef3d58-f1ef-49d8-a345-2d7235b05f16,Cheryl,CherylAdams@mchsi.com
2,f6ef3d58-f1ef-49d8-a345-2d7235b05f16,Andrew,adadams@iastate.edu
3,f6ef3d58-f1ef-49d8-a345-2d7235b05f16,Jackson,jackson.ed.adams@gmail.com
4,f6ef3d58-f1ef-49d8-a345-2d7235b05f16,Luke,gobaseball80@gmail.com
5,adaa6caf-e976-4aa4-9888-9e9487116b98,Caleb,CalebAnderson@gmail.com
6,adaa6caf-e976-4aa4-9888-9e9487116b98,Katy,KateSLAnderson@gmail.com
7,4508a2ee-47d6-491a-b7de-fd8d34a6485c,Ethan,EthanA28@gmail.com
8,4508a2ee-47d6-491a-b7de-fd8d34a6485c,Kaci,KnicholeAnders@gmail.com
9,4508a2ee-47d6-491a-b7de-fd8d34a6485c,Emma,emmaanders514@gmail.com

In [40]:
# Merge the Dataframes: THis cell will attempt to merge the email and phone dataframes with the main
def merge_and_stat(df_1, df_2, merge_key):
    # This function will merge 2 dataframes using left join and a key 
    name1 =[x for x in globals() if globals()[x] is df_1][0]
    name2 =[x for x in globals() if globals()[x] is df_2][0]
    merge_df = pandas.merge(df_1,df_2,on=merge_key)
    print("Dataframe Merge: %s and %s" % (name1, name2))
    merge_df.head(5)
    return merge_df    

df = merge_and_stat(df, email_cf,['FamilyId'])
df = merge_and_stat(df, phone_cf,['FamilyId'])

# Create an index to drop rows where: 
#   Email_Owner is not blank and
#   Phone_Owner is not blank and
#   Email_Owner is not equal to Phone_Owner
index_names = df[ (df['Phone_Owner'] != '') & (df['Email_Owner'] !='') & (df['Phone_Owner'] != df['Email_Owner'])].index 
  
# drop these given row indexes from dataFrame 
df.drop(index_names, inplace = True)

Dataframe Merge: df and email_cf
Dataframe Merge: df and phone_cf

In [41]:
# This cell will write out the results to a csv file
df.to_csv('InstantChurchDirectoryOutput.csv')